.flip-clock {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 12.5vw;          /* adjust based on font and taste */
    line-height: 1.1;
    background-color: #333333;
    color: white;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.flip-clock-window {
    border: 0.0625em solid transparent; /* B */
    background-color: black;
    border-radius: 0.25em;      /* A + B */
    display: inline-block;
}
.flip-clock-window + .flip-clock-window {
    margin-left: 0.125em;
}
.flip-clock-cell {
    width: 1.5em;               /* adjust based on font */
}
.flip-clock-cell + .flip-clock-cell {
    margin-left: 0.0625em;
}
.flip-clock-flap {
    background-color: #ff3333;
    color: #ffffcc;
    border-radius: 0.1875em;    /* A */
}
.flip-clock-text {
    padding-left: 0.1em;
    padding-right: 0.1em;
}
.flip-clock-flap .indicator {
    bottom: 18%;                /* adjust based on font */
    left: 8%;                   /* adjust based on font */
    font-size: 0.15em;          /* adjust based on taste */
}

.flip-clock-controls {
    background-color: #333333;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
.flip-clock-controls label {
    white-space: nowrap;
    margin-left: 1rem;
    margin-right: 1rem;
}
