.flip-clock {
}
.flip-clock-cell {
    display: inline-block;
    width: 2em;
    position: relative;
}
.flip-clock-static-flap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.flip-clock-top-flap {
    clip-path: polygon(0% 0%, 0% calc(50% - 0.5px), 100% calc(50% - 0.5px), 100% 0%);
}
.flip-clock-bottom-flap {
    clip-path: polygon(0% 100%, 0% calc(50% + 0.5px), 100% calc(50% + 0.5px), 100% 100%);
}
.flip-clock-rotator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    opacity: 0;
}
.flip-clock-rotator.visible {
    opacity: 1;
}
.flip-clock-rotator > .obverse {
    transform:         rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    backface-visibility:         hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.flip-clock-rotator > .reverse {
    transform:         rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    backface-visibility:         hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.flip-clock-rotator.down > .obverse {
    transform:         rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transition:         transform 0.1s ease-in;
    -webkit-transition: transform 0.1s ease-in;
}
.flip-clock-rotator.down > .reverse {
    transform:         rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    transition:         transform 0.1s ease-in;
    -webkit-transition: transform 0.1s ease-in;
}
.flip-clock-rotator > * > .inner {
    width: 100%;
    display: inline-block;
}
.flip-clock-rotator > .obverse > .inner {
    clip-path: polygon(0% 0%, 0% calc(50% - 0.5px), 100% calc(50% - 0.5px), 100% 0%);
}
.flip-clock-rotator > .reverse > .inner {
    clip-path: polygon(0% 100%, 0% calc(50% + 0.5px), 100% calc(50% + 0.5px), 100% 100%);
}
.flip-clock-flap .indicator {
    position: absolute;
}
